﻿@model ContentSliderSlideModel
@using Telerik.Web.Mvc.UI;
@{
    var cultures = System.Globalization.CultureInfo.GetCultures(System.Globalization.CultureTypes.SpecificCultures).ToList();
}
@Html.HiddenFor(model => model.Id)
@Html.SmartStore().TabStrip().Name("content-slide-edit").Items(x =>
{
    x.Add().Text(T("Admin.Common.General").Text).Content(TabGeneral()).Selected(true);
    x.Add().Text(T("Admin.Common.Stores").Text).Content(TabStores());

    //generate an event
    EngineContext.Current.Resolve<IEventPublisher>().Publish(new TabStripCreated(x, "content-slide-edit", this.Html, this.Model));
})
<link rel="stylesheet" type="text/css" href="~/Content/ContentSliderBackend.css" />

<script type="text/javascript">


    $('#colorSelector').ColorPicker({
        color: '#0000ff',
        onShow: function (colpkr) {
            $(colpkr).fadeIn(500);
            return false;
        },
        onHide: function (colpkr) {
            $(colpkr).fadeOut(500);
            return false;
        },
        onChange: function (hsb, hex, rgb) {
            $('#colorSelector span').css('backgroundColor', '#' + hex);
        }
    });


    var popOverSettings = {
        placement: 'top',
        container: 'body',
        html: true,
        title: function () {
            return $(this).parent().find('.template-title').html();
        },
        //content:" <div style='color:red'>This is your div content</div>"
        content: function () {
            return $(this).parent().find('.template-preview').html();
        }
    }

    $(function () {
        $('[data-toggle="popover"]').popover(popOverSettings)
    })

    $('.btn').on('click', function (e) {
        $('.btn').not(this).popover('hide');
    });

    function applyTemplate(templateNumber) {
        if (confirm('Are you sure?')) {
            var html = $("#template" + templateNumber).html();
            CKEDITOR.instances.Text.setData(html);
        }
        closeAllPopOvers($(this));
        return false;
    }

    function closeAllPopOvers(e) {
        $('.toggle-slide-type-html .btn').each(function () {
            //the 'is' for buttons that trigger popups
            //the 'has' for icons and other elements within a button that triggers a popup
            if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
                $(this).popover('hide');
                return;
            }
        });
    }

    $(document).on('click', '#SearchProductButton', function () {
        
        $('#ProductId').entityPicker('loadDialog', {
            url: '/backend/Common/EntityPicker',
            caption: 'Pick product',
            returnValueDelimiter: ',',
            maxReturnValues: 1,
            onLoadDialogBefore: function () {
                
                $('#SearchProductButton').button('loading').prop('disabled', true);
            },
            onLoadDialogComplete: function () {
                
                $('#SearchProductButton').prop('disabled', false).button('reset');
            },
            onOkClicked: function (ids) {
                
                var dialog = $('#entity-picker-product-dialog'),
                    item = dialog.find('.entity-picker-list .selected').first();

                $('#slide-product-name').html(item.find('.title').attr('title'));
                $('#ProductId').val(item.data("id"));
                return true;
            }
        });
    });
    

    $("#SliderType").on("change", toogleSlideTypeControls);
    $("#IsLimitedToStores").on("click", toggleStoreMapping);

    function toogleSlideTypeControls() {
        
        var type = $("#SliderType").val();

        if (type == "HTML") {
            $('.toggle-slide-type-html').show();
            $('#cs-htmlmarkup-localized').closest(".well").show();
            $('.toggle-slide-type-product').hide();
        }
        else {
            $('.toggle-slide-type-product').show();
            $('.toggle-slide-type-html').hide();
            $('#cs-htmlmarkup-localized').closest(".well").hide();
        }

    }

    function toggleStoreMapping() {
        if ($('#IsLimitedToStores').is(':checked')) {
            $('#pnl-available-stores').show();
        }
        else {
            $('#pnl-available-stores').hide();
        }
    }

    toogleSlideTypeControls();
    toggleStoreMapping();


    $(function () {

        $("#@Html.FieldIdFor(model => model.Button1.Published)").click(toggleButton1);
        $("#@Html.FieldIdFor(model => model.Button2.Published)").click(toggleButton2);
        $("#@Html.FieldIdFor(model => model.Button3.Published)").click(toggleButton3);

        toggleButton1();
        toggleButton2();
        toggleButton3();
    });

    function toggleButton1() {
        if ($('#@Html.FieldIdFor(model => model.Button1.Published)').is(':checked')) {
            $('.button1-props').show();
        }
        else {
            $('.button1-props').hide();
        }
    }

    function toggleButton2() {
        if ($('#@Html.FieldIdFor(model => model.Button2.Published)').is(':checked')) {
            $('.button2-props').show();
        }
        else {
            $('.button2-props').hide();
        }
    }

    function toggleButton3() {
        if ($('#@Html.FieldIdFor(model => model.Button3.Published)').is(':checked')) {
            $('.button3-props').show();
        }
        else {
            $('.button3-props').hide();
        }
    }



</script>
@helper TabGeneral()
{
    <table class="adminContent">
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.Published)
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.Published)
                @Html.ValidationMessageFor(model => model.Published)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.DisplayOrder)
            </td>
            <td class="adminData">                
                @Html.EditorFor(model => model.DisplayOrder)
                @Html.ValidationMessageFor(model => model.DisplayOrder)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.PictureId)
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.PictureId, "Picture")
                @Html.ValidationMessageFor(model => model.PictureId)
            </td>
        </tr>
        @*<tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.BgColor)
            </td>
            <td class="adminData">                
                <div class="input-append input-group colorpicker-component sm-colorbox colorpicker-element">
                @Html.EditorFor(model => model.BgColor)
                <span class="input-group-addon add-on"><i class="thecolor" style=""></i></span></div>
                <span class="field-validation-valid" data-valmsg-for="BgColor" data-valmsg-replace="true"></span>
            </td>
        </tr>*@
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.SliderType)
            </td>
            <td class="adminData">
                @Html.DropDownListFor(model => model.SliderType, new SelectList(ViewBag.SType, "Types", "Types"))
                @Html.ValidationMessageFor(model => model.SliderType)
            </td>
        </tr>
        <tr class="toggle-slide-type-html">
            <td class="adminTitle"></td>
            <td class="adminData">

                <div class="template-popover">
                    <span class="template-title hide">Template 1</span>

                    <div class="template-preview hide">
                        <img src="/Media/Default/Templates/preview-template1.jpg">
                        <button id="apply-template1" onclick="applyTemplate(1)" class="btn btn-primary btn-block apply-template" data-original-title="">Apply</button>
                    </div>

                    <button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-original-title="">
                        Template 1
                    </button>
                </div>

                <div class="template-popover">
                    <span class="template-title hide">Template 2</span>

                    <div class="template-preview hide">
                        <img src="/Media/Default/Templates/preview-template2.jpg">
                        <button id="apply-template2" onclick="applyTemplate(2)" class="btn btn-primary btn-block apply-template" data-original-title="">Apply</button>
                    </div>

                    <button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-original-title="">
                        Template 2
                    </button>
                </div>

                <div class="template-popover">
                    <span class="template-title hide">Template 3</span>

                    <div class="template-preview hide">
                        <img src="/Media/Default/Templates/preview-template3.jpg">
                        <button id="apply-template3" onclick="applyTemplate(3)" class="btn btn-primary btn-block apply-template" data-original-title="">Apply</button>
                    </div>

                    <button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-original-title="">
                        Template 3
                    </button>
                </div>

                <div class="template-popover">
                    <span class="template-title hide">Template 4</span>

                    <div class="template-preview hide">
                        <img src="/Media/Default/Templates/preview-template4.jpg" />
                        <button id="apply-template4" onclick="applyTemplate(4)" class="btn btn-primary btn-block apply-template" data-original-title="">Apply</button>
                    </div>

                    <button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-original-title="">
                        Template 4
                    </button>
                </div>

                <div class="template-popover">
                    <span class="template-title hide">Template 5</span>

                    <div class="template-preview hide">
                        <img src="/Media/Default/Templates/preview-template5.jpg">
                        <button id="apply-template5" onclick="applyTemplate(5)" class="btn btn-primary btn-block apply-template" data-original-title="">Apply</button>
                    </div>

                    <button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-original-title="">
                        Template 5
                    </button>
                </div>

                <div class="template-popover">
                    <span class="template-title hide">Template 6</span>

                    <div class="template-preview hide">
                        <img src="/Media/Default/Templates/preview-template6.jpg">
                        <button id="apply-template6" onclick="applyTemplate(6)" class="btn btn-primary btn-block apply-template" data-original-title="">Apply</button>
                    </div>

                    <button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-original-title="">
                        Template 6
                    </button>
                </div>

            </td>
        </tr>
        <tr class="toggle-slide-type-product">
            <td class="adminTitle">
                <div class="ctl-label"><label for="ProductId">Product</label><a class="hint" href="#" onclick="return false;" tabindex="-1" title="Choose the product that will be displayed in the slide."><i class="fa fa-question-circle"></i></a></div>
            </td>
            <td class="adminData">
                <input id="ProductId" name="ProductId" type="hidden" value="">
                <button type="button" class="btn" id="SearchProductButton" data-loading-text="Loading…">
                    <i class="fa fa-search"></i>&nbsp;Search
                </button>
                <span id="slide-product-name"></span>
                <span class="field-validation-valid" data-valmsg-for="ProductId" data-valmsg-replace="true"></span>
            </td>
        </tr>
        <tr class="toggle-slide-type-product">
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.ProductDisplayType)
            </td>
            <td class="adminData">
                @Html.DropDownListFor(model => model.ProductDisplayType, new SelectList(ViewBag.PDType, "Types", "Types"))
                @Html.ValidationMessageFor(model => model.ProductDisplayType)
            </td>
        </tr>
        <tr class="toggle-slide-type-product">
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.AlternativeProductPicture)
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.AlternativeProductPicture, "Picture")
                @Html.ValidationMessageFor(model => model.AlternativeProductPicture)
            </td>
        </tr>
        <tr class="toggle-slide-type-product">
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.DisplayPrice)
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.DisplayPrice)
                @Html.ValidationMessageFor(model => model.DisplayPrice)
            </td>
        </tr>
        <tr class="toggle-slide-type-product">
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.DisplayButtons)
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.DisplayButtons)
                @Html.ValidationMessageFor(model => model.DisplayButtons)
            </td>
        </tr>
        <tr class="toggle-slide-type-html">
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.Title)
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title)
            </td>
        </tr>
        <tr class="toggle-slide-type-html">
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.Text)
            </td>
            <td class="adminData">
                @Html.EditorFor(x => x.Text, Html.RichEditorFlavor())
                @Html.ValidationMessageFor(model => model.Text)
            </td>
        </tr>
        <tr class="toggle-slide-type-html">
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.LanguageCulture)
            </td>
            <td class="adminData">
                @Html.DropDownListFor(model => model.LanguageCulture, new SelectList(ViewBag.AllLanguages, "LanguageCulture", "Name"))
                @Html.ValidationMessageFor(model => model.LanguageCulture)
            </td>
        </tr>


        @*<tr>
                <td colspan="2">
                    <hr />
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    @*<h4>@T("Admin.Configuration.ContentSlider.Button1")</h4>
                    <h4>Button 1</h4>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <hr style="border-bottom:none" />
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.SmartLabelFor(model => Model.Button1.Published)
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.Button1.Published)
                    @Html.ValidationMessageFor(model => model.Button1.Published)
                </td>
            </tr>
            <tr class="button1-props">
                <td class="adminTitle">
                    @Html.SmartLabelFor(model => Model.Button1.Text)
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.Button1.Text)
                    @Html.ValidationMessageFor(model => model.Button1.Text)
                </td>
            </tr>
            <tr class="button1-props">
                <td class="adminTitle">
                    @Html.SmartLabelFor(model => Model.Button1.Type)
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.Button1.Type)
                    @Html.ValidationMessageFor(model => model.Button1.Type)
                </td>
            </tr>
            <tr class="button1-props">
                <td class="adminTitle">
                    @Html.SmartLabelFor(model => Model.Button1.Url)
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.Button1.Url)
                    @Html.ValidationMessageFor(model => model.Button1.Url)
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    @*<h4>@T("Admin.Configuration.ContentSlider.Button2")</h4>
                    <h4>Button 2</h4>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <hr style="border-bottom:none" />
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.SmartLabelFor(model => Model.Button2.Published)
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.Button2.Published)
                    @Html.ValidationMessageFor(model => model.Button2.Published)
                </td>
            </tr>
            <tr class="button2-props">
                <td class="adminTitle">
                    @Html.SmartLabelFor(model => Model.Button2.Text)
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.Button2.Text)
                    @Html.ValidationMessageFor(model => model.Button2.Text)
                </td>
            </tr>
            <tr class="button2-props">
                <td class="adminTitle">
                    @Html.SmartLabelFor(model => Model.Button2.Type)
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.Button2.Type)
                    @Html.ValidationMessageFor(model => model.Button2.Type)
                </td>
            </tr>
            <tr class="button2-props">
                <td class="adminTitle">
                    @Html.SmartLabelFor(model => Model.Button2.Url)
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.Button2.Url)
                    @Html.ValidationMessageFor(model => model.Button2.Url)
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    @*<h4>@T("Admin.Configuration.ContentSlider.Button3")</h4>
                    <h4>Button 3</h4>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <hr style="border-bottom:none" />
                </td>
            </tr>
            <tr>
                <td class="adminTitle">
                    @Html.SmartLabelFor(model => Model.Button3.Published)
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.Button3.Published)
                    @Html.ValidationMessageFor(model => model.Button3.Published)
                </td>
            </tr>
            <tr class="button3-props">
                <td class="adminTitle">
                    @Html.SmartLabelFor(model => Model.Button3.Text)
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.Button3.Text)
                    @Html.ValidationMessageFor(model => model.Button3.Text)
                </td>
            </tr>
            <tr class="button3-props">
                <td class="adminTitle">
                    @Html.SmartLabelFor(model => Model.Button3.Type)
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.Button3.Type)
                    @Html.ValidationMessageFor(model => model.Button3.Type)
                </td>
            </tr>
            <tr class="button3-props">
                <td class="adminTitle">
                    @Html.SmartLabelFor(model => Model.Button3.Url)
                </td>
                <td class="adminData">
                    @Html.EditorFor(model => model.Button3.Url)
                    @Html.ValidationMessageFor(model => model.Button3.Url)
                </td>
            </tr>*@
    </table>
}
@helper TabStores()
{
    <script type="text/javascript">
        $(document).ready(function () {

            $("#@Html.FieldIdFor(model => model.LimitedToStores)").click(toggleStoreMapping);

            toggleStoreMapping();
        });


        function toggleStoreMapping() {
            if ($('#@Html.FieldIdFor(model => model.LimitedToStores)').is(':checked')) {
                $('#pnl-available-stores').show();
            }
            else {
                $('#pnl-available-stores').hide();
            }
        }

        

    </script>
    <table class="adminContent">
        <tr>
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.LimitedToStores)
            </td>
            <td class="adminData">
                @Html.EditorFor(model => model.LimitedToStores)
                @Html.ValidationMessageFor(model => model.LimitedToStores)
            </td>
        </tr>
        <tr id="pnl-available-stores">
            <td class="adminTitle">
                @Html.SmartLabelFor(model => model.AvailableStores)
            </td>
            <td class="adminData">
                @if (Model.AvailableStores != null && Model.AvailableStores.Count > 0)
                {
                    foreach (var store in Model.AvailableStores)
                    {
                        <label class="checkbox">
                            <input type="checkbox" name="SelectedStoreIds" value="@store.Id" checked="@(Model.SelectedStoreIds != null && Model.SelectedStoreIds.Contains(store.Id))" />
                            <span>@store.Name</span>
                        </label>
                    }
                }
                else
                {
                    <div>@T("Admin.Configuration.Stores.NoStoresDefined")</div>
                }
            </td>
        </tr>
    </table>
}
<div class="hidden-html-templates hide">
    <div id="template1">
        <div class="container">
            <div class="row h-100">
                <div class="col-md-6 py-3 text-md-right text-center">
                    <h2 class="animated bounceInLeft" style="animation-delay:0.6s">Slide-Title</h2>
                    <p class="d-none d-md-block animated bounceInLeft" style="animation-delay:0.8s">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="col-md-6 picture-container"><img alt="" src="http://placeimg.com/800/430/tech" /></div>
            </div>
        </div>
    </div>
    <div id="template2">
        <div class="container">
            <div class="row h-100">
                <div class="col-6 col-md-3 picture-container"><img src="http://placeimg.com/800/430/tech" /></div>
                <div class="col-6 col-md-9 py-3">
                    <h2 class="animated bounceInRight" style="animation-delay:0.6s">Slide-Title</h2>
                    <p class="animated bounceInRight" style="animation-delay:0.9s">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
                </div>
            </div>
        </div>
    </div>
    <div id="template3">
        <div class="container">
            <div class="row h-100">
                <div class="col-md-12 col-lg-6 picture-container"><img alt="" src="http://placeimg.com/800/430/tech" /></div>
                <div class="col-lg-6 d-none d-lg-block">
                    <h2 class="animated bounceInRight" style="animation-delay:0.6s">Slide-Title</h2>
                    <p class="animated bounceInRight" style="animation-delay:0.8s">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                </div>
            </div>
        </div>
    </div>
    <div id="template4">
        <div class="container">
            <div class="row h-100">
                <div class="col-md-6 d-flex align-items-center">
                    <figure class="picture-container vertical-align-middle" data-animation="animated zoomIn"><img class="img-fluid" src="http://placeimg.com/400/300/tech" /></figure>
                </div>
                <div class="col-md-6 d-flex align-items-center">
                    <div>
                        <h2 class="animated bounceInRight" style="animation-delay:0.6s">Slide-Title</h2>
                        <p class="animated bounceInRight" style="animation-delay:0.9s">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est .</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="template5">
        <div class="container">
            <div class="row h-100">
                <div class="col col-md-3 col-sm-6 animated bounceInDown" style="animation-delay:1s">
                    <img class="d-none d-sm-inline-block" src="http://placeimg.com/300/430/tech" />
                    <img class="d-sm-none" src="http://placeimg.com/576/430/tech" />
                </div>
                <div class="col-md-3 col-12 col-sm-6 d-none d-sm-block animated bounceInDown" style="animation-delay:1.5s">
                    <img src="http://placeimg.com/300/430/tech" />
                </div>
                <div class="col-md-3 d-none d-md-block animated bounceInDown" style="animation-delay:2s">
                    <img src="http://placeimg.com/300/430/tech" />
                </div>
                <div class="col-md-3 d-none d-md-block animated bounceInDown" style="animation-delay:2.5s">
                    <img src="http://placeimg.com/300/430/tech" />
                </div>
            </div>
        </div>
    </div>
    <div id="template6">
        <div class="container">
            <div class="row h-100">
                <div class="col-md-3 hidden-sm-down animated bounceInUp" style="animation-delay:1s">
                    <img src="http://placeimg.com/285/430/tech" />
                </div>
                <div class="col-md-3 col-12 col-sm-6 animated bounceInLeft" style="animation-delay:1.5s">
                    <img class="d-none d-sm-inline-block" src="http://placeimg.com/300/430/tech" />
                    <img class="d-sm-none" src="http://placeimg.com/576/430/tech" />
                </div>
                <div class="col-md-3 col-sm-6 animated bounceInRight" style="animation-delay:1.5s">
                    <img src="http://placeimg.com/285/430/tech" />
                </div>
                <div class="col-md-3 d-none d-md-block animated bounceInUp" style="animation-delay:1s">
                    <img src="http://placeimg.com/285/430/tech" />
                </div>
            </div>
        </div>
    </div>
</div>

<div id="entity-picker-product-dialog" class="entity-picker modal modal-xlarge modal-flex hide" tabindex="-1" aria-hidden="false">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><b>×</b></button>
        <h4 class="caption">Pick product</h4>
    </div>
    <div class="modal-body">
        <form method="POST" class="modal-flex-fill-area" action="/backend/en/Common/EntityPicker">
            <input type="hidden" name="Entity" value="product">
            <input type="hidden" name="HighligtSearchTerm" value="True">
            <input type="hidden" name="ReturnField" value="id">
            <input type="hidden" name="MaxReturnValues" value="1">
            <input type="hidden" name="DisableIf">
            <input type="hidden" name="DisableIds">
            <input type="hidden" name="PageIndex" value="0">

            <div class="form-horizontal">
                <div class="control-group">
                    <label class="control-label" for="ProductName">Product name</label>
                    <div class="controls">
                        <input class="entity-picker-searchterm" id="ProductName" name="ProductName" type="text" value="">
                        <button type="button" class="btn btn-warning" name="SearchEntities" data-loading-text="Loading…">
                            <i class="fa fa-search"></i>&nbsp;Search
                        </button>
                        <button type="button" class="btn" name="FilterEntities">
                            <i class="fa fa-filter"></i>&nbsp;Filter
                        </button>
                    </div>
                </div>


                <div class="entity-picker-filter hide" style="">
                    <div class="control-group">
                        <label class="control-label" for="CategoryId">Category</label>
                        <div class="controls">
                            <select class="item" data-val="true" data-val-number="The field 'Category' must be a number." id="CategoryId" name="CategoryId">
                                <option value="">All</option>
                                <option value="183">Apple</option>
                                <option value="128">Sport</option>
                                <option value="129">--Sonnenbrillen</option>
                                <option value="133">--Handball</option>
                                <option value="131">--Fußball</option>
                                <option value="132">--Basketball</option>
                                <option value="130">--Bälle</option>
                                <option value="182">--American Football</option>
                                <option value="137">--Golf</option>
                                <option value="161">Computer (Computers)</option>
                                <option value="162">--Hardware</option>
                                <option value="168">----Arbeitsspeicher/RAM</option>
                                <option value="163">----CPU</option>
                                <option value="164">----Festplatten / SSD</option>
                                <option value="166">----Gehäuse</option>
                                <option value="165">----Grafikkarten</option>
                                <option value="167">----Mainboards</option>
                                <option value="181">--PC-Konfigurator</option>
                                <option value="169">--Desktop Computer (Desktops)</option>
                                <option value="170">--Notebook (Notebooks)</option>
                                <option value="184">Digitale Produkte</option>
                                <option value="107">Möbel</option>
                                <option value="114">--Lampen</option>
                                <option value="109">--Liegen</option>
                                <option value="110">--Sessel</option>
                                <option value="108">--Sofas</option>
                                <option value="112">--Stühle</option>
                                <option value="111">--Tische</option>
                                <option value="116">--Arne Jacobsen</option>
                                <option value="115">--CHARLES &amp; RAY EAMES</option>
                                <option value="121">--JOSEF HOFFMANN</option>
                                <option value="120">--Le Corbusier</option>
                                <option value="122">Mode</option>
                                <option value="123">--Shirts</option>
                                <option value="124">--Jacken</option>
                                <option value="125">--Hosen</option>
                                <option value="126">--Schuhe</option>
                                <option value="136">Krawatten</option>
                                <option value="140">Baseball</option>
                                <option value="138">Ski</option>
                                <option value="139">Skaten</option>
                                <option value="7">Uhren (Watches)</option>
                                <option value="1">Bücher (Books)</option>
                                <option value="8">--SPIEGEL-Bestseller (SPIEGEL-Bestseller)</option>
                                <option value="9">--Kochen und Genießen (Cook and enjoy)</option>
                                <option value="146">Belletristik</option>
                                <option value="147">Fachbücher</option>
                                <option value="127">ShopConnector Import</option>
                                <option value="134">--Sport</option>
                                <option value="153">----Bälle</option>
                                <option value="135">----Sonnenbrillen</option>
                                <option value="154">--Bauhaus Designer</option>
                                <option value="155">----ARNE JACOBSEN</option>
                                <option value="156">----LE CORBUSIER</option>
                                <option value="157">----EERO SAARINEN</option>
                                <option value="158">--Bücher (Books)</option>
                                <option value="159">----SPIEGEL-Bestseller (SPIEGEL-Bestseller)</option>
                                <option value="160">----Kochen und Genießen (Cook and enjoy)</option>
                                <option value="171">--Gaming (Gaming)</option>
                                <option value="172">----Zubehör (Gaming Accessories)</option>
                                <option value="173">----Spiele (Games)</option>
                                <option value="175">--Sessel</option>
                                <option value="174">--Smartphones (Cell phones)</option>
                                <option value="176">--Musik kaufen &amp; sofort herunterladen (Instant music)</option>
                                <option value="177">--Stühle</option>
                                <option value="178">--Uhren (Watches)</option>
                                <option value="5">Gaming (Gaming)</option>
                                <option value="12">--Zubehör (Gaming Accessories)</option>
                                <option value="13">--Spiele (Games)</option>
                                <option value="148">Musik</option>
                                <option value="149">Motorrad</option>
                                <option value="150">Möbel</option>
                                <option value="151">Meditation</option>
                                <option value="152">Gutscheine</option>
                                <option value="2">Computer (Computers)</option>
                                <option value="10">--Desktop Computer (Desktops)</option>
                                <option value="11">--Notebook (Notebooks)</option>
                                <option value="3">Smartphones (Cell phones)</option>
                                <option value="4">Musik Downloads (Instant music)</option>
                                <option value="14">Bauhaus Designer</option>
                                <option value="15">--ALVAR AALTO</option>
                                <option value="48">----Sessel</option>
                                <option value="47">----Stühle</option>
                                <option value="16">--ARNE JACOBSEN</option>
                                <option value="50">----Sessel</option>
                                <option value="53">----Sofas</option>
                                <option value="49">----Stühle</option>
                                <option value="52">----Tische</option>
                                <option value="17">--LE CORBUSIER</option>
                                <option value="57">----Liegen</option>
                                <option value="56">----Sessel</option>
                                <option value="51">----Sofas</option>
                                <option value="55">----Stühle</option>
                                <option value="54">----Tische</option>
                                <option value="18">--CHARLES &amp; RAY EAMES</option>
                                <option value="19">--EILEEN GRAY</option>
                                <option value="20">--EERO SAARINEN</option>
                                <option value="21">--FRANK LLOYD WRIGHT</option>
                                <option value="22">--GEORGE NELSON</option>
                                <option value="23">--HARRY BERTOIA</option>
                                <option value="24">--ISAMU NOGUCHI</option>
                                <option value="25">--JOSEF HOFFMANN</option>
                                <option value="26">--LUDWIG MIES VAN DER ROHE</option>
                                <option value="27">--MARCEL BREUER</option>
                                <option value="28">--RENE HERBST</option>
                                <option value="29">--WILHELM WAGENFELD</option>
                                <option value="30">--THE SHAKERS</option>
                                <option value="31">--CHARLES RENNIE MACKINTOSH</option>
                                <option value="32">--JEAN MICHEL FRANK</option>
                                <option value="33">--GABRIELE MUCCHI</option>
                                <option value="34">--GERRIT THOMAS RIETVELD</option>
                                <option value="35">--MART STAM</option>
                                <option value="36">--PHILIPPE PATRICK STARCK</option>
                                <option value="37">--ROBERT MALLET STEVENS</option>
                                <option value="38">--WALTER GROPIUS</option>
                                <option value="39">Sofas</option>
                                <option value="58">--ARNE JACOBSEN</option>
                                <option value="60">--EILEEN GRAY</option>
                                <option value="61">--ISAMU NOGUCHI</option>
                                <option value="64">--JEAN MICHEL FRANK</option>
                                <option value="62">--JOSEF HOFFMANN</option>
                                <option value="59">--LE CORBUSIER </option>
                                <option value="63">--LUDWIG MIES VAN DER ROHE</option>
                                <option value="65">--WALTER GROPIUS</option>
                                <option value="40">Liegen</option>
                                <option value="68">--CHARLES &amp; RAY EAMES</option>
                                <option value="69">--EILEEN GRAY</option>
                                <option value="70">--GABRIELE MUCCHI</option>
                                <option value="66">--LE CORBUSIER</option>
                                <option value="67">--LUDWIG MIES VAN DER ROHE</option>
                                <option value="71">--MARCEL BREUER</option>
                                <option value="72">--WALTER GROPIUS</option>
                                <option value="41">Sessel</option>
                                <option value="80">--ALVAR AALTO</option>
                                <option value="76">--ARNE JACOBSEN</option>
                                <option value="87">--CHARLES &amp; RAY EAMES</option>
                                <option value="88">--Eero Aarnio</option>
                                <option value="86">--EERO SAARINEN</option>
                                <option value="79">--EILEEN GRAY</option>
                                <option value="82">--GABRIELE MUCCHI</option>
                                <option value="81">--JEAN MICHEL FRANK</option>
                                <option value="84">--JOSEF HOFFMANN</option>
                                <option value="78">--LE CORBUSIER</option>
                                <option value="77">--LUDWIG MIES VAN DER ROHE</option>
                                <option value="89">--MARCEL BREUER</option>
                                <option value="83">--PHILIPPE-PATRICK STARCK</option>
                                <option value="85">--WALTER GROPIUS</option>
                                <option value="42">Tische</option>
                                <option value="91">--EILEEN GRAY</option>
                                <option value="93">--ISAMU NOGUCHI</option>
                                <option value="92">--LE CORBUSIER</option>
                                <option value="94">--LUDWIG MIES VAN DER ROHE</option>
                                <option value="90">--MARCEL BREUER</option>
                                <option value="43">Stühle</option>
                                <option value="99">--ARNE JACOBSEN</option>
                                <option value="97">--EERO SAARINEN</option>
                                <option value="101">--FRANK LLOYD WRIGHT</option>
                                <option value="100">--HARRY BERTOIA</option>
                                <option value="98">--LE CORBUSIER</option>
                                <option value="96">--LUDWIG MIES VAN DER ROHE</option>
                                <option value="95">--MARCEL BREUER</option>
                                <option value="44">Office</option>
                                <option value="103">--CHARLES &amp; RAY EAMES</option>
                                <option value="104">--EILEEN GRAY</option>
                                <option value="105">--LUDWIG MIES VAN DER ROHE</option>
                                <option value="102">--MARCEL BREUER</option>
                                <option value="106">--MART STAM</option>
                                <option value="45">Lampen</option>
                                <option value="75">--ANONIMO</option>
                                <option value="73">--EILEEN GRAY</option>
                                <option value="74">--WILHELM WAGENFELD</option>
                                <option value="46">Angebote</option>
                                <option value="185">Geschenkgutscheine</option>
                            </select>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="ManufacturerId">Manufacturer</label>
                        <div class="controls">
                            <select class="item" data-val="true" data-val-number="The field 'Manufacturer' must be a number." id="ManufacturerId" name="ManufacturerId">
                                <option value="">All</option>
                                <option value="46">Adidas</option>
                                <option value="53">BOSS</option>
                                <option value="57">BREITLING</option>
                                <option value="50">Converse</option>
                                <option value="51">Daiber</option>
                                <option value="60">EA Sports</option>
                                <option value="48">Nike</option>
                                <option value="47">Puma</option>
                                <option value="52">Ray-Ban</option>
                                <option value="55">SEIKO</option>
                                <option value="56">TISSOT</option>
                                <option value="58">Titleist</option>
                                <option value="54">Versace</option>
                                <option value="59">Warner Home Video Games</option>
                                <option value="49">Wilson</option>
                                <option value="1">Apple</option>
                                <option value="45">Oakley</option>
                                <option value="3">LG</option>
                                <option value="6">Dell</option>
                                <option value="15">HP</option>
                                <option value="2">Samsung</option>
                                <option value="16">Acer</option>
                                <option value="4">TrekStor</option>
                                <option value="5">Western Digital</option>
                                <option value="7">MSI</option>
                                <option value="8">Canon</option>
                                <option value="9">Casio</option>
                                <option value="10">Panasonic</option>
                                <option value="11">BlackBerry</option>
                                <option value="12">HTC</option>
                                <option value="13">Festina</option>
                                <option value="14">Certina</option>
                                <option value="17">Sony</option>
                                <option value="18">Ubisoft</option>
                                <option value="19">LE CORBUSIER</option>
                                <option value="20">ARNE JACOBSEN</option>
                                <option value="21">CHARLES &amp; RAY EAMES</option>
                                <option value="22">EILEEN GRAY</option>
                                <option value="23">EERO SAARINEN</option>
                                <option value="24">HARRY BERTOIA</option>
                                <option value="25">ISAMU NOGUCHI</option>
                                <option value="26">JOSEF HOFFMANN</option>
                                <option value="27">LUDWIG MIES VAN DER ROHE</option>
                                <option value="28">MARCEL BREUER </option>
                                <option value="29">RENE HERBST</option>
                                <option value="30">GEORGE NELSON</option>
                                <option value="31">ALVAR AALTO </option>
                                <option value="32">ROBERT MALLET STEVENS</option>
                                <option value="33">GERRIET THOMAS RIETFELD</option>
                                <option value="34">GABRIELE MUCCHI</option>
                                <option value="35">JEAN MICHEL FRANK</option>
                                <option value="36">FRANK LLOYD WRIGHT</option>
                                <option value="37">CHARLES RENNIE MACKINTOSH</option>
                                <option value="38">WILHELM WAGENFELD</option>
                                <option value="39">PHILIPPE-PATRICK STARCK</option>
                                <option value="40">MART STAM</option>
                                <option value="41">WALTER GROPIUS</option>
                                <option value="42">THE SHAKERS</option>
                                <option value="43">ANONIMO</option>
                                <option value="44">EERO AARNIO</option>
                            </select>
                        </div>
                    </div>


                    <div class="control-group">
                        <label class="control-label" for="ProductTypeId">Product type</label>
                        <div class="controls">
                            <select class="item" data-val="true" data-val-number="The field 'Product type' must be a number." id="ProductTypeId" name="ProductTypeId">
                                <option value="">All</option>
                                <option value="5">Simple product</option>
                                <option value="10">Grouped product</option>
                                <option value="15">Bundled product</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="entity-picker-list">
                <div class="item-wrap">
                    <div class="item" data-id="249" data-returnvalue="249">
                        <div class="thumb">
                            <img src="http://demo.smartstore.com/backend/Media/Default/Thumbs/0002/0002887-the-duke-offizieller-nfl-spielball-70.jpg" alt="">
                        </div>
                        <div class="data">
                            <div class="title" title="&quot;The Duke&quot; offizieller NFL Spielball">
                                <span>"The Duke" offizieller NFL Spielball</span>
                            </div>
                            <div>
                                <i class="published fa fa-globe xicon-active-true" title="Published"></i>
                                <span class="summary" title="SKU: n/a"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-wrap">
                    <div class="item" data-id="1" data-returnvalue="1">
                        <div class="thumb">
                            <img src="http://demo.smartstore.com/backend/Media/Default/Thumbs/0003/0003201-10-geschenkgutschein-70.png" alt="">
                        </div>
                        <div class="data">
                            <div class="title" title="10 € Geschenkgutschein">
                                <span>10 € Geschenkgutschein</span>
                            </div>
                            <div>
                                <i class="published fa fa-globe xicon-active-true" title="Published"></i>
                                <span class="summary" title="SKU: P-1000">P-1000</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-wrap">
                    <div class="item" data-id="323" data-returnvalue="323">
                        <div class="thumb">
                            <img src="http://demo.smartstore.com/backend/Media/Default/Thumbs/0003/0003204-100-geschenkgutschein-70.png" alt="">
                        </div>
                        <div class="data">
                            <div class="title" title="100 € Geschenkgutschein">
                                <span>100 € Geschenkgutschein</span>
                            </div>
                            <div>
                                <i class="published fa fa-globe xicon-active-true" title="Published"></i>
                                <span class="summary" title="SKU: P-1002">P-1002</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-wrap">
                    <div class="item" data-id="2" data-returnvalue="2">
                        <div class="thumb">
                            <img src="http://demo.smartstore.com/backend/Media/Default/Thumbs/0003/0003202-25-geschenkgutschein-70.png" alt="">
                        </div>
                        <div class="data">
                            <div class="title" title="25 € Geschenkgutschein">
                                <span>25 € Geschenkgutschein</span>
                            </div>
                            <div>
                                <i class="published fa fa-globe xicon-active-true" title="Published"></i>
                                <span class="summary" title="SKU: P-1001">P-1001</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-wrap">
                    <div class="item" data-id="3" data-returnvalue="3">
                        <div class="thumb">
                            <img src="http://demo.smartstore.com/backend/Media/Default/Thumbs/0003/0003203-50-geschenkgutschein-70.png" alt="">
                        </div>
                        <div class="data">
                            <div class="title" title="50 € Geschenkgutschein">
                                <span>50 € Geschenkgutschein</span>
                            </div>
                            <div>
                                <i class="published fa fa-globe xicon-active-true" title="Published"></i>
                                <span class="summary" title="SKU: P-1002">P-1002</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-wrap">
                    <div class="item" data-id="257" data-returnvalue="257">
                        <div class="thumb">
                            <img src="http://demo.smartstore.com/backend/Media/Default/Thumbs/0002/0002921-97-ipad-70.jpg" alt="">
                        </div>
                        <div class="data">
                            <div class="title" title="9,7&quot; iPad ">
                                <span>9,7" iPad </span>
                            </div>
                            <div>
                                <i class="published fa fa-globe xicon-active-true" title="Published"></i>
                                <span class="summary" title="SKU: n/a"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-wrap">
                    <div class="item" data-id="17" data-returnvalue="17">
                        <div class="thumb">
                            <img src="http://demo.smartstore.com/backend/Media/Default/Thumbs/0000/0000061-acer-aspire-one-89-mini-notebook-case-black-70.png" alt="">
                        </div>
                        <div class="data">
                            <div class="title" title="Acer Aspire One 8.9&quot; Mini-Notebook Case - (Schwarz)">
                                <span>Acer Aspire One 8.9" Mini-Notebook Case - (Schwarz)</span>
                            </div>
                            <div>
                                <i class="published fa fa-eye-slash xicon-active-false" title="Unpublished"></i>
                                <span class="summary" title="SKU: P-1014">P-1014</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-wrap">
                    <div class="item" data-id="224" data-returnvalue="224">
                        <div class="thumb">
                            <img src="http://demo.smartstore.com/backend/Media/Default/Thumbs/0001/0001413-action-t-shirt-70.jpg" alt="">
                        </div>
                        <div class="data">
                            <div class="title" title="Action T-Shirt">
                                <span>Action T-Shirt</span>
                            </div>
                            <div>
                                <i class="published fa fa-globe xicon-active-true" title="Published"></i>
                                <span class="summary" title="SKU: 347345">347345</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-wrap">
                    <div class="item" data-id="229" data-returnvalue="229">
                        <div class="thumb">
                            <img src="http://demo.smartstore.com/backend/Media/Default/Thumbs/0002/0002611-adidas-tango-pasadena-ball-70.png" alt="">
                        </div>
                        <div class="data">
                            <div class="title" title="Adidas TANGO PASADENA BALL">
                                <span>Adidas TANGO PASADENA BALL</span>
                            </div>
                            <div>
                                <i class="published fa fa-globe xicon-active-true" title="Published"></i>
                                <span class="summary" title="SKU: n/a"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-wrap">
                    <div class="item" data-id="259" data-returnvalue="259">
                        <div class="thumb">
                            <img src="http://demo.smartstore.com/backend/Media/Default/Thumbs/0002/0002991-airpods-70.jpg" alt="">
                        </div>
                        <div class="data">
                            <div class="title" title="AirPods">
                                <span>AirPods</span>
                            </div>
                            <div>
                                <i class="published fa fa-globe xicon-active-true" title="Published"></i>
                                <span class="summary" title="SKU: n/a"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-wrap">
                    <div class="item" data-id="292" data-returnvalue="292">
                        <div class="thumb">
                            <img src="http://demo.smartstore.com/backend/Media/Default/Thumbs/0003/0003072-alkor-70.jpg" alt="">
                        </div>
                        <div class="data">
                            <div class="title" title="Alkor">
                                <span>Alkor</span>
                            </div>
                            <div>
                                <i class="published fa fa-globe xicon-active-true" title="Published"></i>
                                <span class="summary" title="SKU: 112371">112371</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-wrap">
                    <div class="item" data-id="228" data-returnvalue="228">
                        <div class="thumb">
                            <img src="http://demo.smartstore.com/backend/Media/Default/Thumbs/0002/0002629-all-court-basketball-70.png" alt="">
                        </div>
                        <div class="data">
                            <div class="title" title="All-Court Basketball">
                                <span>All-Court Basketball</span>
                            </div>
                            <div>
                                <i class="published fa fa-globe xicon-active-true" title="Published"></i>
                                <span class="summary" title="SKU: n/a"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-wrap">
                    <div class="item" data-id="98" data-returnvalue="98">
                        <div class="thumb">
                            <img src="http://demo.smartstore.com/backend/Media/Default/Thumbs/0000/0000168-alvar-aalto-hocker-60-1935-70.jpg" alt="">
                        </div>
                        <div class="data">
                            <div class="title" title="Alvar Aalto Hocker 60 (1935)">
                                <span>Alvar Aalto Hocker 60 (1935)</span>
                            </div>
                            <div>
                                <i class="published fa fa-globe xicon-active-true" title="Published"></i>
                                <span class="summary" title="SKU: AA 452">AA 452</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-wrap">
                    <div class="item" data-id="97" data-returnvalue="97">
                        <div class="thumb">
                            <img src="http://demo.smartstore.com/backend/Media/Default/Thumbs/0000/0000167-alvar-aalto-kuchenstuhl-k65-1935-70.jpg" alt="">
                        </div>
                        <div class="data">
                            <div class="title" title="Alvar Aalto Küchenstuhl K65 (1935)">
                                <span>Alvar Aalto Küchenstuhl K65 (1935)</span>
                            </div>
                            <div>
                                <i class="published fa fa-globe xicon-active-true" title="Published"></i>
                                <span class="summary" title="SKU: AA 432">AA 432</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-wrap">
                    <div class="item" data-id="95" data-returnvalue="95">
                        <div class="thumb">
                            <img src="http://demo.smartstore.com/backend/Media/Default/Thumbs/0000/0000165-alvar-aalto-sessel-41-paimio-1931-70.jpg" alt="">
                        </div>
                        <div class="data">
                            <div class="title" title="Alvar Aalto Sessel 41 Paimio  (1931)">
                                <span>Alvar Aalto Sessel 41 Paimio  (1931)</span>
                            </div>
                            <div>
                                <i class="published fa fa-globe xicon-active-true" title="Published"></i>
                                <span class="summary" title="SKU: AA 434">AA 434</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-wrap">
                    <div class="item" data-id="96" data-returnvalue="96">
                        <div class="thumb">
                            <img src="http://demo.smartstore.com/backend/Media/Default/Thumbs/0000/0000166-alvar-aalto-stuhl-65-1933-70.jpg" alt="">
                        </div>
                        <div class="data">
                            <div class="title" title="Alvar Aalto Stuhl 65 (1933)">
                                <span>Alvar Aalto Stuhl 65 (1933)</span>
                            </div>
                            <div>
                                <i class="published fa fa-globe xicon-active-true" title="Published"></i>
                                <span class="summary" title="SKU: AA 430">AA 430</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-wrap">
                    <div class="item" data-id="201" data-returnvalue="201">
                        <div class="thumb">
                            <img src="http://demo.smartstore.com/backend/Media/Default/Thumbs/0000/0000273-anonimo-stehlampe-france-1930-70.jpg" alt="">
                        </div>
                        <div class="data">
                            <div class="title" title="Anonimo Stehlampe France (1930) ">
                                <span>Anonimo Stehlampe France (1930) </span>
                            </div>
                            <div>
                                <i class="published fa fa-globe xicon-active-true" title="Published"></i>
                                <span class="summary" title="SKU: AN 1438">AN 1438</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-wrap">
                    <div class="item" data-id="202" data-returnvalue="202">
                        <div class="thumb">
                            <img src="http://demo.smartstore.com/backend/Media/Default/Thumbs/0000/0000274-anonimo-tischlampe-germany-1928-70.jpg" alt="">
                        </div>
                        <div class="data">
                            <div class="title" title="Anonimo Tischlampe Germany (1928)">
                                <span>Anonimo Tischlampe Germany (1928)</span>
                            </div>
                            <div>
                                <i class="published fa fa-globe xicon-active-true" title="Published"></i>
                                <span class="summary" title="SKU: AN 1568">AN 1568</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-wrap">
                    <div class="item" data-id="16" data-returnvalue="16">
                        <div class="thumb">
                            <img src="http://demo.smartstore.com/backend/Media/Default/Thumbs/0000/0000060-antonio-vivaldi-spring-70.jpg" alt="">
                        </div>
                        <div class="data">
                            <div class="title" title="Antonio Vivaldi: Der Frühling">
                                <span>Antonio Vivaldi: Der Frühling</span>
                            </div>
                            <div>
                                <i class="published fa fa-globe xicon-active-true" title="Published"></i>
                                <span class="summary" title="SKU: P-1016">P-1016</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-wrap">
                    <div class="item" data-id="324" data-returnvalue="324">
                        <div class="thumb">
                            <img src="http://demo.smartstore.com/backend/Media/Default/Thumbs/0003/0003205-antonio-vivaldi-der-fruhling-70.jpg" alt="">
                        </div>
                        <div class="data">
                            <div class="title" title="Antonio Vivaldi: Der Frühling">
                                <span>Antonio Vivaldi: Der Frühling</span>
                            </div>
                            <div>
                                <i class="published fa fa-globe xicon-active-true" title="Published"></i>
                                <span class="summary" title="SKU: P-1016">P-1016</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-wrap">
                    <div class="item" data-id="303" data-returnvalue="303">
                        <div class="thumb">
                            <img src="http://demo.smartstore.com/backend/Media/Default/Thumbs/0003/0003165-apple-fanboy-hipster-basic-equipment-70.jpg" alt="">
                        </div>
                        <div class="data">
                            <div class="title" title="Apple Fanboy Hipster Basic Equipment">
                                <span class="badge badge-success">Group</span>
                                <span>Apple Fanboy Hipster Basic Equipment</span>
                            </div>
                            <div>
                                <i class="published fa fa-globe xicon-active-true" title="Published"></i>
                                <span class="summary" title="SKU: n/a"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-wrap">
                    <div class="item" data-id="15" data-returnvalue="15">
                        <div class="thumb">
                            <img src="http://demo.smartstore.com/backend/Media/Default/Thumbs/0000/0000055-apple-iphone-6-70.jpg" alt="">
                        </div>
                        <div class="data">
                            <div class="title" title="Apple iPhone 6">
                                <span>Apple iPhone 6</span>
                            </div>
                            <div>
                                <i class="published fa fa-eye-slash xicon-active-false" title="Unpublished"></i>
                                <span class="summary" title="SKU: Apple-1001">Apple-1001</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-wrap">
                    <div class="item" data-id="223" data-returnvalue="223">
                        <div class="thumb">
                            <img src="http://demo.smartstore.com/backend/Media/Default/Thumbs/0000/0000406-armelloses-shirt-meccanica-70.jpg" alt="">
                        </div>
                        <div class="data">
                            <div class="title" title="Ärmelloses Shirt Meccanica">
                                <span>Ärmelloses Shirt Meccanica</span>
                            </div>
                            <div>
                                <i class="published fa fa-globe xicon-active-true" title="Published"></i>
                                <span class="summary" title="SKU: 987693502">987693502</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-wrap">
                    <div class="item" data-id="177" data-returnvalue="177">
                        <div class="thumb">
                            <img src="http://demo.smartstore.com/backend/Media/Default/Thumbs/0000/0000249-arne-jacobsen-armlehnstuhl-3207-1955-70.jpg" alt="">
                        </div>
                        <div class="data">
                            <div class="title" title="Arne Jacobsen Armlehnstuhl 3207 (1955)">
                                <span>Arne Jacobsen Armlehnstuhl 3207 (1955)</span>
                            </div>
                            <div>
                                <i class="published fa fa-globe xicon-active-true" title="Published"></i>
                                <span class="summary" title="SKU: AJ 133">AJ 133</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-wrap">
                    <div class="item" data-id="49" data-returnvalue="49">
                        <div class="thumb">
                            <img src="http://demo.smartstore.com/backend/Media/Default/Thumbs/0000/0000122-arne-jacobsen-egg-chair-1958-70.jpg" alt="">
                        </div>
                        <div class="data">
                            <div class="title" title="Arne Jacobsen Egg Chair (1958)">
                                <span>Arne Jacobsen Egg Chair (1958)</span>
                            </div>
                            <div>
                                <i class="published fa fa-globe xicon-active-true" title="Published"></i>
                                <span class="summary" title="SKU: AJ 2565-30">AJ 2565-30</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-wrap">
                    <div class="item" data-id="218" data-returnvalue="218">
                        <div class="thumb">
                            <img src="http://demo.smartstore.com/backend/Media/Default/Thumbs/0000/0000291-arne-jacobsen-egg-chair-fusshocker-the-special-70.jpg" alt="">
                        </div>
                        <div class="data">
                            <div class="title" title="Arne Jacobsen Egg Chair + Fusshocker - THE SPECIAL">
                                <span>Arne Jacobsen Egg Chair + Fusshocker - THE SPECIAL</span>
                            </div>
                            <div>
                                <i class="published fa fa-globe xicon-active-true" title="Published"></i>
                                <span class="summary" title="SKU: SO-AJ 2565+AJ 2563">SO-AJ 2565+AJ 2563</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-wrap">
                    <div class="item" data-id="50" data-returnvalue="50">
                        <div class="thumb">
                            <img src="http://demo.smartstore.com/backend/Media/Default/Thumbs/0000/0000123-arne-jacobsen-egg-pouff-1958-70.jpg" alt="">
                        </div>
                        <div class="data">
                            <div class="title" title="Arne Jacobsen Egg Pouff (1958)">
                                <span>Arne Jacobsen Egg Pouff (1958)</span>
                            </div>
                            <div>
                                <i class="published fa fa-globe xicon-active-true" title="Published"></i>
                                <span class="summary" title="SKU: AJ 2563-30">AJ 2563-30</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-wrap">
                    <div class="item" data-id="178" data-returnvalue="178">
                        <div class="thumb">
                            <img src="http://demo.smartstore.com/backend/Media/Default/Thumbs/0000/0000250-arne-jacobsen-stuhl-1952-70.jpg" alt="">
                        </div>
                        <div class="data">
                            <div class="title" title="Arne Jacobsen Stuhl (1952)">
                                <span>Arne Jacobsen Stuhl (1952)</span>
                            </div>
                            <div>
                                <i class="published fa fa-globe xicon-active-true" title="Published"></i>
                                <span class="summary" title="SKU: AJ 130">AJ 130</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-wrap">
                    <div class="item" data-id="63" data-returnvalue="63">
                        <div class="thumb">
                            <img src="http://demo.smartstore.com/backend/Media/Default/Thumbs/0000/0000136-arne-jacobsen-stuhl-3107-1955-70.jpg" alt="">
                        </div>
                        <div class="data">
                            <div class="title" title="Arne Jacobsen Stuhl 3107 (1955)">
                                <span>Arne Jacobsen Stuhl 3107 (1955)</span>
                            </div>
                            <div>
                                <i class="published fa fa-globe xicon-active-true" title="Published"></i>
                                <span class="summary" title="SKU: AJ 131-21">AJ 131-21</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-wrap">
                    <div class="item" data-id="83" data-returnvalue="83">
                        <div class="thumb">
                            <img src="http://demo.smartstore.com/backend/Media/Default/Thumbs/0000/0000154-arne-jacobsen-swan-chair-1958-70.jpg" alt="">
                        </div>
                        <div class="data">
                            <div class="title" title="Arne Jacobsen Swan Chair (1958)">
                                <span>Arne Jacobsen Swan Chair (1958)</span>
                            </div>
                            <div>
                                <i class="published fa fa-globe xicon-active-true" title="Published"></i>
                                <span class="summary" title="SKU: AJ 2560-30">AJ 2560-30</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-wrap">
                    <div class="item" data-id="216" data-returnvalue="216">
                        <div class="thumb">
                            <img src="http://demo.smartstore.com/backend/Media/Default/Thumbs/0000/0000289-arne-jacobsen-swan-sofa-1958-70.jpg" alt="">
                        </div>
                        <div class="data">
                            <div class="title" title="Arne Jacobsen Swan Sofa (1958)">
                                <span>Arne Jacobsen Swan Sofa (1958)</span>
                            </div>
                            <div>
                                <i class="published fa fa-globe xicon-active-true" title="Published"></i>
                                <span class="summary" title="SKU: AJ 2562-30">AJ 2562-30</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-wrap">
                    <div class="item" data-id="179" data-returnvalue="179">
                        <div class="thumb">
                            <img src="http://demo.smartstore.com/backend/Media/Default/Thumbs/0000/0000251-arne-jacobsen-tisch-superellipse-1955-70.jpg" alt="">
                        </div>
                        <div class="data">
                            <div class="title" title="Arne Jacobsen Tisch Superellipse (1955)">
                                <span>Arne Jacobsen Tisch Superellipse (1955)</span>
                            </div>
                            <div>
                                <i class="published fa fa-globe xicon-active-true" title="Published"></i>
                                <span class="summary" title="SKU: AJ T/471">AJ T/471</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-wrap">
                    <div class="item" data-id="22" data-returnvalue="22">
                        <div class="thumb">
                            <img src="http://demo.smartstore.com/backend/Media/Default/Thumbs/0000/0000069-assassin-creed-3-70.jpg" alt="">
                        </div>
                        <div class="data">
                            <div class="title" title="Assassin's Creed III">
                                <span>Assassin's Creed III</span>
                            </div>
                            <div>
                                <i class="published fa fa-globe xicon-active-true" title="Published"></i>
                                <span class="summary" title="SKU: Ubi-acreed3">Ubi-acreed3</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-wrap">
                    <div class="item" data-id="8" data-returnvalue="8">
                        <div class="thumb">
                            <img src="http://demo.smartstore.com/backend/Media/Default/Thumbs/0000/0000044-car-of-superlatives-the-strongest-the-first-the-most-beautiful-the-fastest-70.jpg" alt="">
                        </div>
                        <div class="data">
                            <div class="title" title="Autos der Superlative: Die Stärksten, die Ersten, die Schönsten, Die Schnellsten">
                                <span>Autos der Superlative: Die Stärksten, die Ersten, die Schönsten, Die Schnellsten</span>
                            </div>
                            <div>
                                <i class="published fa fa-globe xicon-active-true" title="Published"></i>
                                <span class="summary" title="SKU: P-1007">P-1007</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-wrap">
                    <div class="item" data-id="6" data-returnvalue="6">
                        <div class="thumb">
                            <img src="http://demo.smartstore.com/backend/Media/Default/Thumbs/0000/0000042-best-grilling-recipes-70.jpg" alt="">
                        </div>
                        <div class="data">
                            <div class="title" title="Best Grilling Recipes">
                                <span>Best Grilling Recipes</span>
                            </div>
                            <div>
                                <i class="published fa fa-globe xicon-active-true" title="Published"></i>
                                <span class="summary" title="SKU: P-1005">P-1005</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-wrap">
                    <div class="item" data-id="9" data-returnvalue="9">
                        <div class="thumb">
                            <img src="http://demo.smartstore.com/backend/Media/Default/Thumbs/0000/0000045-picture-atlas-motorcycles-with-more-than-350-brilliant-images-70.jpg" alt="">
                        </div>
                        <div class="data">
                            <div class="title" title="Bildatlas Motorräder: Mit mehr als 350 brillanten Abbildungen">
                                <span>Bildatlas Motorräder: Mit mehr als 350 brillanten Abbildungen</span>
                            </div>
                            <div>
                                <i class="published fa fa-globe xicon-active-true" title="Published"></i>
                                <span class="summary" title="SKU: P-1008">P-1008</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-wrap">
                    <div class="item" data-id="243" data-returnvalue="243">
                        <div class="thumb">
                            <img src="http://demo.smartstore.com/backend/Media/Default/Thumbs/0002/0002840-126-1198556866-70.png" alt="">
                        </div>
                        <div class="data">
                            <div class="title" title="Black tempered glass large panel ATX aluminium computer case">
                                <span>Black tempered glass large panel ATX aluminium computer case</span>
                            </div>
                            <div>
                                <i class="published fa fa-globe xicon-active-true" title="Published"></i>
                                <span class="summary" title="SKU: P-1620-DC1249">P-1620-DC1249</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-wrap">
                    <div class="item" data-id="298" data-returnvalue="298">
                        <div class="thumb">
                            <img src="http://demo.smartstore.com/backend/Media/Default/Thumbs/0003/0003095-boss-chronograph-1513394-70.jpg" alt="">
                        </div>
                        <div class="data">
                            <div class="title" title="Boss Chronograph »1513394«">
                                <span>Boss Chronograph »1513394«</span>
                            </div>
                            <div>
                                <i class="published fa fa-globe xicon-active-true" title="Published"></i>
                                <span class="summary" title="SKU: n/a"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-wrap">
                    <div class="item" data-id="299" data-returnvalue="299">
                        <div class="thumb">
                            <img src="http://demo.smartstore.com/backend/Media/Default/Thumbs/0003/0003096-boss-chronograph-1513395-70.jpg" alt="">
                        </div>
                        <div class="data">
                            <div class="title" title="Boss Chronograph »1513395«">
                                <span>Boss Chronograph »1513395«</span>
                            </div>
                            <div>
                                <i class="published fa fa-globe xicon-active-true" title="Published"></i>
                                <span class="summary" title="SKU: n/a"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-wrap">
                    <div class="item" data-id="19" data-returnvalue="19">
                        <div class="thumb">
                            <img src="http://demo.smartstore.com/backend/Media/Default/Thumbs/0000/0000065-certina-ds-podium-big-size-70.png" alt="">
                        </div>
                        <div class="data">
                            <div class="title" title="Certina DS Podium Big Size Herrenchronograph">
                                <span>Certina DS Podium Big Size Herrenchronograph</span>
                            </div>
                            <div>
                                <i class="published fa fa-eye-slash xicon-active-false" title="Unpublished"></i>
                                <span class="summary" title="SKU: P-1018">P-1018</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-wrap">
                    <div class="item" data-id="211" data-returnvalue="211">
                        <div class="thumb">
                            <img src="http://demo.smartstore.com/backend/Media/Default/Thumbs/0000/0000283-charles-eames-aluminium-chair-ea-105-1958-70.jpg" alt="">
                        </div>
                        <div class="data">
                            <div class="title" title="Charles Eames Aluminium Chair EA 105 (1958)">
                                <span>Charles Eames Aluminium Chair EA 105 (1958)</span>
                            </div>
                            <div>
                                <i class="published fa fa-globe xicon-active-true" title="Published"></i>
                                <span class="summary" title="SKU: CE 545OA-108">CE 545OA-108</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-wrap">
                    <div class="item" data-id="206" data-returnvalue="206">
                        <div class="thumb">
                            <img src="http://demo.smartstore.com/backend/Media/Default/Thumbs/0000/0000278-charles-eames-aluminium-group-chair-ea-124-1958-70.jpg" alt="">
                        </div>
                        <div class="data">
                            <div class="title" title="Charles Eames Aluminium Group Chair EA 124 (1958)">
                                <span>Charles Eames Aluminium Group Chair EA 124 (1958)</span>
                            </div>
                            <div>
                                <i class="published fa fa-globe xicon-active-true" title="Published"></i>
                                <span class="summary" title="SKU: CE-539-A-E124 A">CE-539-A-E124 A</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-wrap">
                    <div class="item" data-id="59" data-returnvalue="59">
                        <div class="thumb">
                            <img src="http://demo.smartstore.com/backend/Media/Default/Thumbs/0000/0000132-charles-eames-aluminium-group-ea-108-1958-70.jpg" alt="">
                        </div>
                        <div class="data">
                            <div class="title" title="Charles Eames Aluminium Group EA 108 (1958)">
                                <span>Charles Eames Aluminium Group EA 108 (1958)</span>
                            </div>
                            <div>
                                <i class="published fa fa-globe xicon-active-true" title="Published"></i>
                                <span class="summary" title="SKU: CE 544-112">CE 544-112</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-wrap">
                    <div class="item" data-id="60" data-returnvalue="60">
                        <div class="thumb">
                            <img src="http://demo.smartstore.com/backend/Media/Default/Thumbs/0000/0000133-charles-eames-aluminium-group-ea-119-1958-70.jpg" alt="">
                        </div>
                        <div class="data">
                            <div class="title" title="Charles Eames Aluminium Group EA 119 (1958)">
                                <span>Charles Eames Aluminium Group EA 119 (1958)</span>
                            </div>
                            <div>
                                <i class="published fa fa-globe xicon-active-true" title="Published"></i>
                                <span class="summary" title="SKU: CE 540-119">CE 540-119</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-wrap">
                    <div class="item" data-id="207" data-returnvalue="207">
                        <div class="thumb">
                            <img src="http://demo.smartstore.com/backend/Media/Default/Thumbs/0000/0000279-charles-eames-aluminium-group-hocker-ea-125-1958-70.jpg" alt="">
                        </div>
                        <div class="data">
                            <div class="title" title="Charles Eames Aluminium Group Hocker EA 125 (1958)">
                                <span>Charles Eames Aluminium Group Hocker EA 125 (1958)</span>
                            </div>
                            <div>
                                <i class="published fa fa-globe xicon-active-true" title="Published"></i>
                                <span class="summary" title="SKU: CE-538-A-E12">CE-538-A-E12</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-wrap">
                    <div class="item" data-id="209" data-returnvalue="209">
                        <div class="thumb">
                            <img src="http://demo.smartstore.com/backend/Media/Default/Thumbs/0000/0000281-charles-eames-alu-relax-chair-mit-armlehnen-hocker-1958-70.jpg" alt="">
                        </div>
                        <div class="data">
                            <div class="title" title="Charles Eames Alu-Relax Chair mit Armlehnen &amp; Hocker (1958)">
                                <span>Charles Eames Alu-Relax Chair mit Armlehnen &amp; Hocker (1958)</span>
                            </div>
                            <div>
                                <i class="published fa fa-globe xicon-active-true" title="Published"></i>
                                <span class="summary" title="SKU: CE-539 + 538">CE-539 + 538</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-wrap">
                    <div class="item" data-id="208" data-returnvalue="208">
                        <div class="thumb">
                            <img src="http://demo.smartstore.com/backend/Media/Default/Thumbs/0000/0000280-charles-eames-alu-relax-chair-mit-kopfkissen-hocker-1958-70.jpg" alt="">
                        </div>
                        <div class="data">
                            <div class="title" title="Charles Eames Alu-Relax Chair mit Kopfkissen &amp; Hocker (1958)">
                                <span>Charles Eames Alu-Relax Chair mit Kopfkissen &amp; Hocker (1958)</span>
                            </div>
                            <div>
                                <i class="published fa fa-globe xicon-active-true" title="Published"></i>
                                <span class="summary" title="SKU: CE-A-E124">CE-A-E124</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-wrap">
                    <div class="item" data-id="87" data-returnvalue="87">
                        <div class="thumb">
                            <img src="http://demo.smartstore.com/backend/Media/Default/Thumbs/0000/0000158-charles-eames-coffee-table-1948-70.jpg" alt="">
                        </div>
                        <div class="data">
                            <div class="title" title="Charles Eames Coffee Table (1948)">
                                <span>Charles Eames Coffee Table (1948)</span>
                            </div>
                            <div>
                                <i class="published fa fa-globe xicon-active-true" title="Published"></i>
                                <span class="summary" title="SKU: CE 477-4">CE 477-4</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-footer">
                    <span class="load-more">&nbsp;</span>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <span class="footer-note pull-left">
            <span class="default hide" style="display: inline;">Click on an item to select it and OK to apply it.</span>
            <span class="not-selectable hide" style="display: none;">Not selectable.</span>
        </span>
        <button class="btn btn-primary" disabled="">Apply</button>
        <button class="btn" data-dismiss="modal">Cancel</button>
    </div>

</div>
