﻿@model ContentSliderSlideModel
@{
    //page title
    ViewBag.Title = T("Admin.Configuration.ContentSlider.Slide.AddNew").Text;
}
@using (Html.BeginForm())
{
    <div class="section-header">
        <div class="title">
            @*@T("Admin.Configuration.ContentSlider.Slide.AddNew")*@ Add new slide @Html.ActionLink("(Back to list)", "Index") @*T("Admin.Configuration.ContentSlider.BackToList")*@
        </div>
        <div class="options">
            <button type="submit" name="save" value="save" class="btn btn-primary">
                <i class="fa fa-check"></i>&nbsp;
                @T("Admin.Common.Save")
            </button>
            @*<button type="submit" name="save" value="save-continue" class="btn">@T("Admin.Common.SaveContinue")</button>*@
        </div>
    </div>
    @Html.Partial("_CreateOrUpdate", Model)
}