﻿@model ContentSliderSlideModel
@{
    //page title
    ViewBag.Title = T("Admin.Configuration.ContentSlider.EditSlide").Text;
}
@using (Html.BeginForm())
{
    <div class="section-header">
        <div class="title">
            @*@T("Admin.Configuration.ContentSlider.EditSlide")*@ Edit Slide - @Model.Title @Html.ActionLink("(Back to list)", "Index") @*@T("Admin.Configuration.ContentSlider.BackToList")*@
        </div>
        <div class="options">
            <button type="submit" name="save" value="save" class="btn btn-primary"><i class="fa fa-check"></i>&nbsp;@T("Admin.Common.Save")</button>
            <button type="submit" name="save" value="save-continue" class="btn">@T("Admin.Common.SaveContinue")</button>
            <button type="submit" id="slide-delete" name="slide-delete" class="btn btn-danger"><i class="fa fa-trash-o"></i>&nbsp;@T("Admin.Common.Delete")</button>
        </div>
    </div>
    @Html.Partial("_CreateOrUpdate", Model)
}
@*@Html.DeleteConfirmation("DeleteSlide", "slide-delete")*@
