﻿@model ContentSliderSettings
@using SmartStore.Core.Domain.Cms;
@using SmartStore.Web.Framework.Theming;
@functions
{
    private string GetSliderBgExpression()
    {
        string result = "";

        if (Model.BackgroundPictureUrl.HasValue())
        {
            result = "background-image:url('{0}');".FormatInvariant(Url.Content(Model.BackgroundPictureUrl));
        }

        return result;
    }
}
@{
    var isActive = Model.IsActive && Model.Slides.Where(x => x.Published).Any();

    if (isActive)
    {
        Html.AddCssFileParts(false, Html.ThemePath("Content/slider.css"));
        Html.AddScriptParts("~/bundles/sequencejs");
    }
}
@if (isActive)
{
    @*<div id="slider" class="slider" style="height: @(Model.ContentSliderHeight); @(GetSliderBgExpression())">

            @if (Model.Slides.Count > 1)
            {
                <nav class="arrows">
                    <span class="sequence-prev"></span>
                    <span class="sequence-next"></span>
                </nav>
            }
            @if (Model.AutoPlay && Model.Slides.Count > 1)
            {
                <div class="sequence-pause"></div>
            }
            <ul class="sequence-canvas">
                @foreach (ContentSliderSlideSettings slide in Model.Slides)
                {
                    if (slide.Published)
                    {
                        <li class="slide">
                            @if (!String.IsNullOrEmpty(@slide.Title))
                            {
                                <h2 class="title">@Html.Raw(@slide.Title)</h2>
                            }
                            @if (!String.IsNullOrEmpty(@slide.Text))
                            {
                                <div class="info">@Html.Raw(slide.Text)</div>
                            }
                            @if (slide.Button1.Published || slide.Button2.Published || slide.Button3.Published)
                            {
                                <div class="buttons">
                                    @if (slide.Button1.Published && slide.Button1.Url.HasValue())
                                    {
                                        <a class="btn @slide.Button1.Type" href="@slide.Button1.Url">@slide.Button1.Text</a>
                                    }
                                    @if (slide.Button2.Published && slide.Button2.Url.HasValue())
                                    {
                                        <a class="btn @slide.Button2.Type" href="@slide.Button2.Url">@slide.Button2.Text</a>
                                    }
                                    @if (slide.Button3.Published && slide.Button3.Url.HasValue())
                                    {
                                        <a class="btn @slide.Button3.Type" href="@slide.Button3.Url">@slide.Button3.Text</a>
                                    }
                                </div>
                            }
                            @if (!String.IsNullOrEmpty(@slide.PictureUrl))
                            {
                                <div class="picture"><img src="@Url.Content(slide.PictureUrl)" /></div>
                            }
                        </li>
                    }
                }
            </ul>

        </div>*@

    <div id="carousel-2" class="carousel slide hide-on-active-filter bright fluid" data-ride="carousel" data-interval="6000">

        @*<ol class="carousel-indicators">
            <li data-target="#carousel-2" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-2" data-slide-to="1" class=""></li>
            @*<li data-target="#carousel-2" data-slide-to="2" class=""></li>
                <li data-target="#carousel-2" data-slide-to="3" class=""></li>
        </ol>*@
        <ol class="carousel-indicators">
            @for (var i = 0; i < Model.Slides.Count; i++)
            {
                if (i == 0)
                {
                    <li data-target="#carousel-2" data-slide-to="@i" class="active"></li>
                }
                else
                {
                    <li data-target="#carousel-2" data-slide-to="@i"></li>
                }
            }
        </ol>

        <div class="carousel-inner" role="listbox">
            @*@foreach (string slide in Model.ContentSlides)
                {
                    @Html.Raw(slide);
                }*@
            @foreach (ContentSliderSlideSettings slide in Model.Slides)
            {
                if (slide.DisplayOrder == 0)
                {
                    <div id="carousel-item-@slide.DisplayOrder" class="carousel-item bright html-slide active" style="background-image:url(@slide.PictureUrl);height:500px">
                        @Html.Raw(slide.Text);
                    </div>
                }
                else
                {
                    <div id="carousel-item-@slide.DisplayOrder" class="carousel-item bright html-slide" style="background-image:url(@slide.PictureUrl);height:500px">
                        @Html.Raw(slide.Text);
                    </div>
                }

            }
            @*<div id="carousel-item-25" class="carousel-item bright html-slide" style="height:500px">
                <div class="container">
                    <div class="row h-100">

                                <div class="col-md-3 hidden-sm-down animated bounceInUp" style="animation-delay:1s"><a href="http://demo.smartstore.com/frontend/couturier-lady-edelstahl-grau"><img alt="COUTURIER LADY Edelstahl-Grau" src="http://demo.smartstore.com/frontend/Media/Default/Uploaded/T035.210.11.011.00.png" style="width: 414px; height: 627px;" title="COUTURIER LADY Edelstahl-Grau"></a></div>
                                <div class="col-md-3 col-12 col-sm-6 animated bounceInLeft" style="animation-delay:1.5s"><a href="http://demo.smartstore.com/frontend/couturier-lady"><img alt="COUTURIER LADY Alligator-Rot" class="d-none d-sm-inline-block" src="http://demo.smartstore.com/frontend/Media/Default/Uploaded/aligator_red_T035.210.16.011.01_h670.png" style="width: 414px; height: 670px;" title="COUTURIER LADY Alligator-Rot"></a></div>
                                <div class="col-md-3 col-sm-6 animated bounceInRight" style="animation-delay:1.5s"><a href="http://demo.smartstore.com/frontend/couturier-lady-leder-burgundrot"><img alt="COUTURIER LADY Leder-Burgundrot" src="http://demo.smartstore.com/frontend/Media/Default/Uploaded/leder_burgundrot_T035.210.16.371.00.png" style="width: 414px; height: 627px;" title="COUTURIER LADY Leder-Burgundrot"></a></div>
                                <div class="col-md-3 d-none d-md-block animated bounceInUp" style="animation-delay:1s"><a href="http://demo.smartstore.com/frontend/couturier-lady-leder-schwarz"><img alt="COUTURIER LADY Leder-Schwarz" src="http://demo.smartstore.com/frontend/Media/Default/Uploaded/T035.210.16.051.00.png" style="width: 414px; height: 627px;" title="COUTURIER LADY Leder-Schwarz"></a></div>

                            </div>
                        </div>
                    </div>
                        <div id="carousel-item-7" class="carousel-item bright product-slide active" style="background-color: #fdfdfd;height:500px">
                        <div class="container slide-type-2">
                            <div class="row h-100">
                                <div class="col-md-6 text-md-right d-flex align-items-center text-center">
                                    <figure class="picture animated zoomIn" data-animation="animated zoomIn">
                                        <a href="http://demo.smartstore.com/frontend/en/charles-eames-lounge-chair-1956-2" title="Show details for Charles Eames Lounge Chair (1956)">
                                            <img alt="Picture of Charles Eames Lounge Chair (1956)" src="http://demo.smartstore.com/frontend/Media/Default/Thumbs/0000/0000355.png" title="Show details for Charles Eames Lounge Chair (1956)" class="img-fluid">
                                        </a>
                                    </figure>
                                </div>
                                <div class="col-md-6 d-flex align-items-center">
                                    <div class="data text-md-left text-center">
                                        <h4 class="slide-title display-4 animated bounceInRight" data-animation="animated bounceInRight">
                                            <a href="http://demo.smartstore.com/frontend/en/charles-eames-lounge-chair-1956-2">
                                                <span>Charles Eames Lounge Chair (1956)</span>
                                            </a>
                                        </h4>
                                        <p class="slide-subtitle fs-h4 d-none d-md-block animated bounceInRight" data-animation="animated bounceInRight">
                                            Lounge chair, Designer Charles Eames, width 80 cm, depth 80 cm, height 60 cm, seat shell: plywood, foot (rotatable): cast aluminum, cushions (upholstered) with leather cover
                                        </p>
                                        <div class="prices animated bounceInRight" data-animation="animated bounceInRight">
                                            <p class="product-price h2 animated tada" data-animation="animated tada">
                                                <span class="price">From 1.619,10 €</span>
                                            </p>
                                        </div>
                                        <div class="product-slide-buttons d-none d-md-block pt-3 animated bounceInUp" data-animation="animated bounceInUp">
                                            <a href="http://demo.smartstore.com/frontend/en/charles-eames-lounge-chair-1956-2" class="btn btn-clear-dark btn-animate btn-animate-right btn-lg" title="Description">
                                                <span>
                                                    <i class="fa fa-angle-right"></i>
                                                    More information
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="carousel-item-24" class="carousel-item bright pb-0 product-slide" style="background-image:url(http://demo.smartstore.com/frontend/Media/Default/Thumbs/0003/0003152.jpg);background-color: transparent;height:500px">
                        <div class="slide-badges d-flex">
                            <div class="badge badge-danger">- 5 %</div>
                            <div class="badge badge-success">New</div>
                        </div>
                        <div class="container d-flex flex-column slide-type-4">
                            <div class="data pb-3">
                                <h4 class="slide-title display-4 animated bounceInDown" data-animation="animated bounceInDown">
                                    <a href="http://demo.smartstore.com/frontend/en/couturier-lady-2">
                                        <span>COUTURIER LADY</span>
                                    </a>
                                </h4>
                                <p class="slide-subtitle fs-h4 d-none d-lg-block animated bounceInDown" data-animation="animated bounceInDown">
                                    The Tissot Couturier Quartz is a stylish watch with great attention to detail.
                                </p>
                            </div>
                            <figure class="picture align-self-stretch mt-auto mb-0 animated zoomIn" data-animation="animated zoomIn">
                                <a href="http://demo.smartstore.com/frontend/en/couturier-lady-2" title="Show details for COUTURIER LADY">
                                    <img alt="Picture of COUTURIER LADY" src="http://demo.smartstore.com/frontend/Media/Default/Thumbs/0003/0003155.png" title="Show details for COUTURIER LADY" class="img-fluid">
                                </a>
                            </figure>
                        </div>
                    </div>
                    <div id="carousel-item-17" class="carousel-item bright pb-0 product-slide" style="background-image:url(http://demo.smartstore.com/frontend/Media/Default/Thumbs/0002/0002914.jpg);background-color: transparent;height:500px">
                        <div class="container d-flex flex-column slide-type-4">
                            <div class="data pb-3">
                                <h4 class="slide-title display-4 animated bounceInDown" data-animation="animated bounceInDown">
                                    <a href="http://demo.smartstore.com/frontend/en/eero-aarnio-ball-chair-1966">
                                        <span>Eero Aarnio Ball Chair (1966)</span>
                                    </a>
                                </h4>
                                <div class="prices animated bounceInDown" data-animation="animated bounceInDown">
                                    <p class="product-price h2 animated tada" data-animation="animated tada">
                                        <span class="price">From 1.869,15 €</span>
                                    </p>
                                </div>
                            </div>
                            <figure class="picture align-self-stretch mt-auto mb-0 animated zoomIn" data-animation="animated zoomIn">
                                <a href="http://demo.smartstore.com/frontend/en/eero-aarnio-ball-chair-1966" title="Show details for Eero Aarnio Ball Chair (1966)">
                                    <img alt="Picture of Eero Aarnio Ball Chair (1966)" src="http://demo.smartstore.com/frontend/Media/Default/Thumbs/0002/0002800.png" title="Show details for Eero Aarnio Ball Chair (1966)" class="img-fluid">
                                </a>
                            </figure>
                        </div>
                    </div>*@
        </div>
        @if (Model.Slides.Count > 1)
        {
            <a class="left carousel-control" href="#carousel-2" role="button" data-slide="prev">
                <span class="icon-prev" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
                <a class="right carousel-control" href="#carousel-2" role="button" data-slide="next">
                    <span class="icon-next" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
        }

    </div>

    <script type="text/javascript">
        $(function () {
            var sequence = null;
            var options = {
                autoPlay: @(Model.AutoPlay ? "true" : "false"),
                autoPlayDelay: @(Model.AutoPlayDelay),
                pagination: true,
                showPaginationOnInit: true,
                nextButton: true,
                prevButton: true,
                pauseButton: true,
                pauseOnHover: false,
                animateStartingFrameIn: false,
                fadeFrameWhenSkipped: false,
                transitionThreshold: 500,
                bgSlide: '@(GetThemeVariable("SliderBgSlide", "on"))', // off | on | opposite
                bgSlideIncrement: 50
            };
            sequence = $("#slider").sequence(options).data("sequence");
            $.sequence.applyTheme(sequence); // applyTheme is an extension in sequence.jquery.custom.js
        });
    </script>
}

